/* .App {
  text-align: center;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-width: 100vw;
  height: 1600px;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #2690ae;
} */

/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items at the top */
  gap: 0;
 
}



.content {
  flex: 1; /* Allow the content to grow and fill the remaining space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */

}

@media (min-width: 768px) {
  .App {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    gap: 0;
  }
}


@media (min-width: 319px) and (max-width: 430px) {
  .Header {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    font-size: 12px;
    word-spacing: 10px;
    gap: 0;

  }

  .Header {
    background-color: rgb(30, 9, 9);
    border-bottom: 4px solid rgba(29, 14, 14, 0.2); /* Solid border */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 80); /* Shadow effect */
    filter:blur(100);
 
}

}

@media (min-width: 319px) and (max-width: 430px) {
  .Home {
    padding: 0;
    border: none;
    width: 430px;
    gap: 0;
    position: fixed;
    /* height: 200px; */
    position: absolute;

  }


 


  .clearfix::after {
    content: "";
    clear: both;
    display:table
}
  .scroll-thumb2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 0.5rem;
    margin-left: 0px;
    height:10%;
    width: 100%;
    background-color: rgba(92, 63, 73, 0.5);
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 80); /* Shadow effect */
    letter-spacing: 2px;
  }

  .Pixi {
    display: flex;
    flex-Direction: column;
    justify-Content: center;
    align-Items: center;
    transform: scale(0.3)
  }


  /* .Box1 {

    display: 'flex';
    justify-Content: 'center';
    align-Items: 'center';
    height:100px;
    width: 100px;
    position: relative;
    margin-top: "10rem";
    background-position-x:center;
    on Home.css
                  
  } */  

  
  
}





@media (min-width: 319px) and (max-width: 430px) {
  .logo {
      gap: 0px;
      width: 430px;
      height: 150px;
  }


    .Plays {

        height: 50px;
    }

    .Blue1 {
        
        display: none;
    }

    .Blue2 {
        width: 10px;
    }
}

@media (min-width: 319px) and (max-width: 430px) {
  .container {
    width: 50%;
    padding-top: 1rem;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  
  .image-navigation {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust spacing as needed */
    width: 20rem;
  }

  .IMG_888 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    height:200px ;
    width:150px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}


}

@media (min-width: 499px) and (max-width: 999px) {

  .Ween3 {
      margin: 1rem;
      width: 150px;
      /* padding-left: 250px; */
  }

  .Ween6h {
      margin: 1rem;
      width: 150px
  }

  .Ween12h {
      margin: 1rem;
      width: 150px;

      
  }
}


@media (orientation: landscape) {

  .Pixi {
    display: flex;
    flex-Direction: column;
    justify-Content: center;
    align-Items: center;
    transform: scale(0.55) translateY(-310px);
    transform-origin: center;
    /* top: -100px; */
    /* transform: translateY(-20px); */

  }

}