/* .App {
  text-align: center;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-width: 100vw;
  height: 1600px;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #2690ae;
} */

/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: flex-start; /* Align items at the top */
 
}



.content {
  flex: 1; /* Allow the content to grow and fill the remaining space */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */

}

@media (min-width: 768px) {
  .App {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }
}


@media (min-width: 320px) and (max-width: 430px) {
  .Header {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    font-size: 12px;
    word-spacing: 10px;

  }
}

@media (min-width: 319px) and (max-width: 430px) {
  .logo {
      width: 430px;
      height: 150px;
  }
  .Plays {

    height: 50px;
  }
  
  .Blue1 {
    
    display: none;
  }
  
  .Blue2 {
    width: 10px;
  }
}




