

@media (min-width: 768px) {
    .Blog {
      flex-direction: row;
      justify-content: space-between;
    }

    .container1 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 500px;
    }
    
    .IMG_0031 {
        height: 500px;
        width: 500px;
        margin: 20px;
    }
    
    .IMG_0131 {
        height: 200px;
        width: 200px;
        margin: 20px;
    }
    
    .IMG_0231 {
        height: 330px;
        width: 250px;
        margin: 20px;
        margin-top: 200px;
    }
    
    .container2 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 700px;
        margin-top: 50px
    }
    
    .IMG_7297 {
        height: 550px;
        width: 450px;
        margin: 20px;
    }
    
    .IMG_072 {
        height: 200px;
        width: 200px;
        margin: 20px;
        margin-bottom: 200px;
    }
    
    .IMG_172 {
        height: 400px;
        width: 250px;
        margin: 20px;
        margin-bottom: 200px;
    }
    
    .IMG_272 {
        height: 300px;
        width: 250px;
        margin: 20px;
        margin-top: 250px;
    
    }
    
    .container3 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 700px;
      
    }
    
    .IMG_0030 {
        height: 500px;
        width: 380px;
        margin: 10px;
    
    
    }
    
    .IMG_3035 {
        height: 500px;
        width: 380px;
        margin: 20px;
    
    
    }
    
    .IMG_3036 {
        height: 500px;
        width: 380px;
        margin: 20px;
    
    
    }
    
    .container4 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 500px;
    }
    
    .IMG_3033 {
        height: 400px;
        width: 550px;
        margin: 10px;
    }
    
    .IMG_3034 {
        height: 400px;
        width: 550px;
        margin: 10px;
    }
    
    .IMG_5628 {
        height: 450px;
        width: 630px;
    
        margin-bottom: 100px;
    }
  }

@media (min-width: 768px) {
    .Blog {
      flex-direction: row;
      justify-content: space-between;
    }

    .container1 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 500px;
    }
    
    .IMG_0031 {
        height: 500px;
        width: 500px;
        margin: 20px;
    }
    
    .IMG_0131 {
        height: 200px;
        width: 200px;
        margin: 20px;
    }
    
    .IMG_0231 {
        height: 330px;
        width: 250px;
        margin: 20px;
        margin-top: 200px;
    }
    
    .container2 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 700px;
        margin-top: 50px
    }
    
    .IMG_7297 {
        height: 550px;
        width: 450px;
        margin: 20px;
    }
    
    .IMG_072 {
        height: 200px;
        width: 200px;
        margin: 20px;
        margin-bottom: 200px;
    }
    
    .IMG_172 {
        height: 400px;
        width: 250px;
        margin: 20px;
        margin-bottom: 200px;
    }
    
    .IMG_272 {
        height: 300px;
        width: 250px;
        margin: 20px;
        margin-top: 250px;
    
    }
    
    .container3 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 700px;
      
    }
    
    .IMG_0030 {
        height: 500px;
        width: 380px;
        margin: 10px;
    
    
    }
    
    .IMG_3035 {
        height: 500px;
        width: 380px;
        margin: 20px;
    
    
    }
    
    .IMG_3036 {
        height: 500px;
        width: 380px;
        margin: 20px;
    
    
    }
    
    .container4 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 500px;
    }
    
    .IMG_3033 {
        height: 400px;
        width: 550px;
        margin: 10px;
    }
    
    .IMG_3034 {
        height: 400px;
        width: 550px;
        margin: 10px;
    }
    
    .IMG_5628 {
        height: 450px;
        width: 630px;
    
        margin-bottom: 100px;
    }
  }

/* 
@media (min-width: 468px) {
    .container1 {
        justify-content: center;
        margin: auto;
        height: 500px;
    }

    .IMG_0031 {
        height: 300px;
        width: 300px;
        margin: 20px;
    }

    .IMG_0131 {
        height: 150px;
        width: 150px;
        margin: 20px;
    }
    
    .IMG_0231 {
        height: 150px;
        width: 100px;
        margin: 20px;
        margin-top: 150px;
    }
} */