
@media (min-width: 668px) {
    .Home {
      background-image: url('https://i.imgur.com/TCJcg8X.png');
      flex-direction: row;
      justify-content: space-between;
      height: 900px;
    }

    .container1 {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 500px;
    }

    .Ween3 {
        margin: 1rem;
        width: 20rem;
    }

    .Ween6h {
        margin: 1rem;
        width: 35rem;
    }

    .Ween12h {
        margin: 1rem;
        width: 35rem;
    }
}
