.Home {
    background-image: url('https://i.imgur.com/TCJcg8X.png');

}

.Ween3 {
    margin: 1rem;
    width: 35rem;
}

.Ween6h {
    margin: 1rem;
    width: 35rem;
}

.Ween12h {
    margin: 1rem;
    width: 35rem;
}