.container1{
    height: 700px;
}

.IMG_0666 {
    height: 700px;
    width: 550px;
}

.IMG_8080 {
    height: 700px;
    width: 550px;
}


.IMG_5577 {
    height: 700px;
    width: 480px;

}

.IMG_0029 {
    height: 700px;
    width: 480px;
}

