.link {
    color: white; /* 更改为你想要的颜色 */
    text-decoration: none; /* 去掉下划线 */
    
  }

.links {
  padding-right: 1rem;
  color: white; /* 更改为你想要的颜色 */
  text-decoration: none; /* 去掉下划线 */
  margin-right: "50rem"
}

.Header {
    background-color: rgb(30, 9, 9);
    border-bottom: 4px solid rgba(29, 14, 14, 0.2); /* Solid border */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 80); /* Shadow effect */
    filter:blur(100);
 
}

.div {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-family: 'Times New Roman';
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 12px;
}

.link {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .links-container {
    flex-direction: row;
  }
}

.Header {
  
}
  